@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #1D1D1D;
}

body::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: "Open Sans", sans-serif;
}

.fundo_modal {
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100vh;

  background-color: #000000;

  opacity: 40%;
}

.alterar_cep_modal {
  display: flex;
  flex-direction: column;

  justify-content: center;

  z-index: 11;
  position: fixed;
  left: 50%;
  top: 50%;

  transform: translateX(-50%) translateY(-50%);

  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;

  width: 546px;
  height: 298px;

  background-color: #ffffff;
  color: #1D1D1D;

  padding: 48px 32px;

  gap: 48px;

  p {
    margin: 0;
  }

  img {
    position: absolute;

    right: 0;
    top: 0;

    cursor: pointer;
  }

  section {
    display: flex;
    flex-direction: column;

    font-size: 14px;
    text-align: left;

    gap: 24px;
  }

  .cep {
    display: flex;
    flex-direction: column;

    gap: 8px;
  }

  input {
    height: 40px;
    border: 1px solid #EEEEEE;

    color: #8e8e8e;

    padding: 0 18px;

    font-size: 12px;
  }

  input:focus {
    outline: none;
  }

  select {
    height: 40px;
    border: 1px solid #EEEEEE;

    color: #8e8e8e;

    padding: 0 18px;

    font-size: 12px;
  }

  select:focus {
    outline: none;
  }

  .local {
    display: flex;

    gap: 4px;
  }

  .cidade {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .estado {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  button {
    font-family: "Open Sans", sans-serif;

    background-color: #B11B26;
    color: #ffffff;

    outline: none;
    border: none;

    height: 40px;

    cursor: pointer;
  }
}

header {
  z-index: 5;
  position: fixed;
  width: 100%;

  .alterar_cep_header {
    cursor: pointer;

    display: flex;
    color: #ffffff;

    gap: 10px;

    font-size: 14px;
    font-weight: 600;

    justify-content: center;
    align-items: center;

    background-color: #B11B26;
    height: 39px;
  }

  .Header {
    display: flex;

    color: #ffffff;
    font-weight: 400;

    justify-content: space-between;

    padding: 0 80px 0 80px;

    p {
      margin: 0;
      padding: 29.5px 0 29.5px 0;

      cursor: pointer;

      box-sizing: border-box;

      height: 80px;
    }

    p:hover {
      border-bottom: 1px solid #000000;
      box-sizing: border-box;
    }

    .left_header {
      display: flex;

      align-items: center;

      gap: 48px;

      .exp_produtos {
        display: flex;

        align-items: center;

        gap: 12px;

        img {
          margin-top: 2px;
        }
      }

      .Logo {
        height: 32px;
      }
    }

    .right_header {
      display: flex;

      align-items: center;

      gap: 25px;

      img {
        width: 20px;
        height: 20px;

        cursor: pointer;
      }

      .sacola {
        display: flex;
        flex-direction: row;

        gap: 4px;

        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    transition: .3s ease;
  }

  .fundo-produtos {
    display: none;
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;

    background-color: #000000;

    opacity: 40%;
  }

  .div-produtos {
    display: none;
    height: 323px;

    background-color: #ffffff;

    padding: 24px 264px 24px 264px;

    gap: 64px;

    .produtos {
      display: flex;
      flex-direction: column;
      gap: 16px;

      li {
        text-align: left;
        margin: 0;

        list-style: none;

        cursor: pointer;
      }

      li:hover {
        text-decoration: underline;

      }
    }
  }

  .inverso {
    color: #000000;
    background-color: white;

    img {
      filter: invert(100%);
    }
  }
}

.slick-slider {
  display: flex;

  overflow: visible !important;

  justify-content: center;

  z-index: 0;

  width: 100%;
}

.slick-dots {
  top: 970px;
}

.banner {
  .slick-dots {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    left: 50%;
    transform: translateX(-50%);

    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 -2px;
      padding: 0;
      cursor: pointer;



      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
      }

      button::before {
        font-family: 'slick';
        font-size: 24px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: black;
        -webkit-font-smoothing: antialiased;
      }
    }

    .slick-active {
      button::before {
        opacity: .75;
        color: black;
      }
    }
  }
}

.div-banner {
  position: relative;
  height: 980px;

  padding-top: 39px;

  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  button {
    height: 43px;
    width: 150px;

    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 20px;
    background-color: #ffffff1e;

    color: #EEEEEE;
    border: 1px solid #EEEEEE;

    backdrop-filter: blur(16px);

    box-shadow: 0px 4px 12px 0px #00000029;

    font-family: "Open Sans", sans-serif;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;

    cursor: pointer;
    z-index: 2;
  }
}

.Categorias {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin-top: -5px;
  padding: 56px 80px 64px 80px;
  gap: 32px;

  .text {
    width: 100%;

    h1 {
      font-size: 28px;
      font-weight: 400;
      text-align: left;
    }
  }



  .row-categorias {
    display: flex;

    gap: 16px;

    .categoria {
      display: flex;
      flex-direction: column;
      gap: 16px;

      p {
        margin: 0;
        font-size: 16px;
        font-weight: 300;
        line-height: 100%;
        letter-spacing: 0px;

        text-align: left;

        transition: .3s ease;
      }

      .img {
        overflow: hidden;
        width: 428px;
        height: 462px;
        border-radius: 4px;
      }

      img {
        object-fit: cover;
        border-radius: 4px;
        width: 100%;
        height: 100%;

        transition: .3s ease;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }

        p {
          font-weight: bold;
        }
      }
    }
  }
}

.Cards {
  display: flex;

  justify-content: center;

  gap: 16px;

  width: 100%;

  img {
    object-fit: cover;
  }
}

.Lancamentos {
  font-family: "Open Sans", sans-serif;

  color: #1D1D1D;

  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 48px 80px 56px 80px;

  .text {
    width: 100%;

    h1 {
      font-size: 28px;
      font-weight: 400;
      text-align: left;
    }
  }

  .produtos {
    display: flex;
    position: relative;

    justify-content: center;

    width: 100%;

    gap: 16px;

    .slick-prev {
      font-size: 0;
      line-height: 0;
      position: absolute;

      top: -43.5px;
      right: 170px;

      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      cursor: pointer;
      color: white;
      border: none;
      outline: none;
      background: transparent;
    }

    .slick-prev::before {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      opacity: .75;
      color: black;
      -webkit-font-smoothing: antialiased;

      content: '<';
    }

    .slick-next {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: -43.5px;
      right: 10px;
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      cursor: pointer;
      color: white;
      border: none;
      outline: none;
      background: transparent;
    }

    .slick-next::before {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      opacity: .75;
      color: black;
      -webkit-font-smoothing: antialiased;

      content: '>';
    }

    .slick-dots {
      position: absolute;
      display: block;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;

      top: -50px;
      right: 60px;

      li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 -2px;
        padding: 0;
        cursor: pointer;



        button {
          font-size: 0;
          line-height: 0;
          display: block;
          width: 20px;
          height: 20px;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          border: 0;
          outline: none;
          background: transparent;
        }

        button::before {
          font-family: 'slick';
          font-size: 24px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          content: '•';
          text-align: center;
          opacity: .25;
          color: black;
          -webkit-font-smoothing: antialiased;
        }
      }

      .slick-active {
        button::before {
          opacity: .75;
          color: black;
        }
      }
    }

    .produto {

      cursor: default;

      display: flex;
      flex-direction: column;

      gap: 16px;

      .img-card {
        position: relative;

        width: 339.2px;
        height: 339.2px;

        img {
          width: 100%;
          height: 100%;
        }

        .fav {
          display: flex;

          justify-content: center;
          align-items: center;

          position: absolute;
          width: 32px;
          height: 32px;

          background-color: #ffffff;

          cursor: pointer;

          right: 0;

          margin: 10px 10px 0 0;
        }

        .fav-heart {
          display: block;
          width: 14px;
          height: 14px;
        }

        .fav-heart-fill {
          display: none;
          width: 14px;
          height: 14px;
        }

        .vitrine {
          position: absolute;
          width: 32px;
          height: 32px;

          cursor: pointer;

          bottom: 0;
          right: 0;

          margin: 0 10px 10px 0;
        }

        p {
          position: absolute;
          bottom: 0;
          margin: 0 0 10px 10px;

          font-size: 12px;
          font-weight: 400;

          color: #B11B26;
        }
      }

      p {
        margin: 8px 0 8px 0;
        font-size: 16px;
        font-weight: 300;

        max-width: 330px;
        text-align: left;
      }



      .promo {
        display: flex;

        align-items: center;

        gap: 8px;

        h1 {
          margin: 0;
          font-size: 16px;
          font-weight: 400;

          max-width: 330px;
          text-align: left;
        }

        h2 {
          margin: 0;
          font-size: 12px;
          font-weight: 300;

          color: #8A8A8A;

          text-decoration: line-through;

          max-width: 330px;
          text-align: left;
        }
      }
    }
  }
}

.fundo-vitrine {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #000000;
  opacity: 40%;
}

.vitrine-modal {
  display: flex;

  position: fixed;
  left: 50%;
  top: 50%;

  gap: 24px;

  transform: translateX(-50%) translateY(-50%);

  z-index: 11;
  background-color: #ffffff;

  width: 903px;
  height: 433px;

  img {
    height: 100%;
  }



  .produto {
    font-family: "Open Sans", sans-serif;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    gap: 32px;
    padding-right: 32px;

    h2 {
      font-weight: 300;
      font-size: 18px;

      text-align: left;

      margin: 0;

      max-width: 440px;
    }

    .tamanhos {
      color: #1D1D1D;

      display: flex;
      flex-direction: column;

      justify-content: left;

      gap: 8px;

      p {
        text-align: left;

        margin: 0;

        font-size: 14px;
        font-weight: 400;
      }

      div {
        display: flex;
        flex-direction: row;

        justify-content: left;

        cursor: pointer;

        gap: 8px;

        .tamanho {
          display: flex;

          position: relative;

          align-items: center;
          justify-content: center;

          height: 46px;
          width: 44px;

          border: 1px solid #CECECE;

          p {
            margin: 0;

            font-size: 12px;
          }

          input {
            position: absolute;

            cursor: pointer;

            width: 34px;
            height: 34px;

            opacity: 0;
          }
        }
      }

      .tamanho:has(input:checked) {
        border: 1px solid #1D1D1D;
      }
    }

    .button {
      display: flex;
      flex-direction: row;

      cursor: pointer;

      height: 46px;

      gap: 6px;

      background-color: #B11B26;

      align-items: center;
      justify-content: center;

      p {
        color: #EEEEEE;
        font-size: 14px;

        margin: 0;
      }

      img {
        width: 12px;
        height: 12px;

        padding-top: 2.5px;
      }
    }
  }

  .close {
    position: absolute;

    top: 0;
    right: 0;

    width: 24px;
    height: 24px;
  }
}

.fundo-carrinho {
  display: none;
  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 10;

  background-color: #000000;
  opacity: 40%;
}

.Carrinho {
  position: fixed;

  cursor: normal;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  right: -500px;
  top: 0;

  background-color: #ffffff;

  z-index: 11;

  height: 100vh;
  width: 500px;

  .carrinho-top {
    display: flex;
    flex-direction: column;

    padding: 24px;

    gap: 16px;

    .carrinho-header {
      display: flex;
      width: 100%;
      height: 57px;

      justify-content: space-between;
      align-items: center;

      h1 {
        margin: 0;

        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;

      }

      img {
        cursor: pointer;
      }
    }
  }

  .carrinho-bottom {
    display: flex;
    flex-direction: column;

    height: 191px;

    padding: 24px;

    gap: 16px;

    box-shadow: 0px -4px 16px 0px #00000014;

    .info {
      display: flex;

      justify-content: space-between;

      p {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
      }
    }

    button {
      height: 46px;
      gap: 10px;
      padding: 6px;

      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 300;

      border: none;

      color: #ffffff;

      background-color: #B11B26;

      cursor: pointer;
    }

    h2 {
      margin: 0;

      font-size: 14px;
      font-weight: 300;

      color: #1D1D1D;

      text-decoration: underline;

      cursor: pointer;
    }
  }

  transition: 0.5s ease;
}

.carrinho-open {
  right: 0;
}

.conheca-mais {
  display: flex;
  flex-direction: column;

  height: 634px;

  padding: 56px 80px;

  gap: 32px;

  background-color: #F7F7F7;

  font-family: "Open Sans", sans-serif;

  .title {

    text-align: left;

    h1 {
      font-size: 28px;
      font-weight: 400;

      margin: 0;
    }

    p {
      font-size: 18px;
      font-weight: 300;

      margin: 0;

      color: #8A8A8A;

      font-style: italic;
    }
  }

  .blog {
    display: flex;

    height: 100%;

    gap: 16px;

    .slick-prev {
      font-size: 0;
      line-height: 0;
      position: absolute;

      top: -43.5px;
      right: 140px;

      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      cursor: pointer;
      color: white;
      border: none;
      outline: none;
      background: transparent;
    }

    .slick-prev::before {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      opacity: .75;
      color: black;
      -webkit-font-smoothing: antialiased;

      content: '<';
    }

    .slick-next {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: -43.5px;
      right: 10px;
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      cursor: pointer;
      color: white;
      border: none;
      outline: none;
      background: transparent;
    }

    .slick-next::before {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      opacity: .75;
      color: black;
      -webkit-font-smoothing: antialiased;

      content: '>';
    }

    .slick-dots {
      position: absolute;
      display: block;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;

      top: -50px;
      right: 60px;

      li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 -2px;
        padding: 0;
        cursor: pointer;



        button {
          font-size: 0;
          line-height: 0;
          display: block;
          width: 20px;
          height: 20px;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          border: 0;
          outline: none;
          background: transparent;
        }

        button::before {
          font-family: 'slick';
          font-size: 24px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          content: '•';
          text-align: center;
          opacity: .25;
          color: black;
          -webkit-font-smoothing: antialiased;
        }
      }

      .slick-active {
        button::before {
          opacity: .75;
          color: black;
        }
      }
    }

    .post {
      display: flex;
      flex-direction: column;

      text-align: left;

      img {
        width: 568px;
      }

      h1 {
        font-size: 28px;
        font-weight: 400;

        margin: 8px 0;
      }

      p {
        font-size: 16px;
        font-weight: 300;

        margin: 8px 0;

        color: #8A8A8A;

        max-width: 550px;
      }

      h3 {
        font-size: 16px;
        font-weight: 300;

        margin: 8px 0;

        text-decoration: underline;
      }
    }
  }
}

.div-cupom {
  display: flex;

  gap: 48px;

  justify-content: center;
  align-items: center;

  margin-top: -16px;
  height: 110px;

  background-color: #FFE9DC;

  .text {
    color: #B11B26;
    display: flex;
    gap: 6px;

    font-size: 18px;
    font-weight: 400;
  }

  .text2 {
    color: #1D1D1D;
    display: none;
    gap: 6px;

    font-size: 18px;
    font-weight: 400;
  }

  .inputs {
    display: flex;
    gap: 16px;

    input {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;

      width: 300px;

      padding: 12px 24px;

      border: 1px solid #CECECE;
    }

    input:focus {
      outline: none;
    }

    button {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;

      color: #ffffff;
      height: 46px;
      width: 300px;
      border: none;
      background-color: #B11B26;

      cursor: pointer;
    }
  }

  .cupom-ativo {
    display: none;

    .cupom {
      width: 212px;

      color: #B11B26;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;

      background-color: #ffffff;

      border-radius: 1000px 0 0 1000px;
      border: 1px solid #8A8A8A;
      border-right: 1px solid #B11B26;
      border-style: dashed;

      padding-left: 10px;
    }

    button {
      width: 144px;

      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-decoration: underline;

      background-color: #B11B26;

      border-radius: 0 1000px 1000px 0;
      border: none;
    }
  }
}

footer {
  display: flex;

  height: 424px;

  background-color: #B11B26;

  align-items: center;
  justify-content: space-between;

  .footer-right {
    display: flex;

    width: 100%;

    gap: 80px;

    font-family: "Open Sans", sans-serif;

    align-items: center;
    justify-content: center;

    color: #EEEEEE;

    .redes {
      display: flex;
      gap: 24px;

      cursor: pointer;
    }

    .infos {
      display: flex;
      flex-direction: column;

      gap: 8px;
    }

    h1 {
      font-size: 14px;
      font-weight: 600;
      margin: 0;

      cursor: normal;
    }

    p {
      margin: 0;
      font-size: 12px;
      font-weight: 400;

      text-decoration: underline;

      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  header {
    width: 100vw;

    .Header {
      padding: 0 16px;
      height: 55px;

      .exp_produtos {
        position: absolute;
        top: -700px;
        display: none;
      }

      .left_header {
        gap: 25px;

        img {
          width: 14px;
          height: 14px;
        }
      }

      .mid_header {
        display: flex;
  
        align-items: center;
  
        .Logo {
          height: 24px;
        }
      }

      .right_header {
        
        img {
          width: 14px;
          height: 14px;
        }
      }

    } 
  }

  .fundo-menu {
    display: none;

    position: fixed;

    width: 100vw;
    height: 100vh;

    z-index: 10;

    background-color: #000000;

    opacity: 40%;

    top: 0;
  }

  .menu {
    position: fixed;

    font-family: "Open Sans", sans-serif;

    width: 83vw;
    height: 100vh;

    z-index: 11;

    background-color: #ffffff;

    top: 0;
    left: -83vw;

    .header-menu {
      display: flex;

      justify-content: space-between;

      padding: 16px;
    }

    .banner-menu {
      width: 100%;
      height: 120px;

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    .menu-bottom {
      display: flex;
      flex-direction: column;

      justify-content: left;

      padding: 24px 16px;

      gap: 24px;

      p {
        text-align: left;

        margin: 0;
      }

      .option {
        display: flex;

        justify-content: space-between;
      }

      .option-sapatos {
        display: none;
        flex-direction: column;

        gap: 12px;

        padding-left: 12px;

        margin-top: -12px;

        p {
          font-weight: 300;
        }
      }
    }

    transition: 0.5s ease;
  }

  .menu-open {
    left: 0;
  }

  .Carrinho {
    width: 83vw;
  }

  .alterar_cep_modal {
    top: 50vh;
    left: 50vw;

    transform: translateX(-50%) translateY(-50%);

    width: 70vw;

    p {
      text-align: left;
    }

    .cidade {
      gap: 8px;
    }

    .estado {
      gap: 8px;
    }
  }

  .banner {
    width: 100vw;

    .div-banner {
      height: 90vh;
    }

    .slick-dots {
      top: 90vh;
    }
  }

  .mobile {
    width: 100vw;

    .Lancamentos {
      padding: 32px 16px 48px 16px;

      gap: 8px;

      h1 {
        font-size: 16px;
      }

      .produtos {

        .produto {

          .img-card {
            height: 220px;
            width: 100%;

            .fav {
              right: 90px;
            }

            .vitrine {
              right: 90px;
            }
          }

          p {
              font-size: 12px;
              max-width: 200px;

              margin-left: 21vw;
            }

          .promo {
            margin-left: 21vw;

            h1 {
              font-size: 14px;
            }

            h2 {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  
  .Categorias {
    padding: 32px 16px;

    gap: 16px;

    .text {
      h1 {
        font-size: 16px;
        margin: 0;
      }
    }

    .row-categorias {
      width: 100%;

      .categoria {

        width: none;

        .img {
          width: 90%;
          height: 250px;
        }

        p {
          margin: 8px 0;
        }
      }
    }
  }

  .Cards {
    flex-direction: column;
    width: 100vw;
    gap: 8px;
  }

  .conheca-mais {
    padding: 32px 16px 68px 16px;

    height: unset;

    .title {

      h1 {
        font-size: 16px;
      }

      p {
        font-size: 12px;
      }
    }

    .blog {
      .post {
        img {
          width: 100%;
        }

        h1 {
          font-size: 16px;
        }

        p {
          font-size: 12px;
        }

        h3 {
          font-size: 12px;
        }
      }

      .slick-dots {
        top: 42vh;
        right: 0px;
      }
    }
  }

  .div-cupom {
    height: unset;

    flex-direction: column;

    padding: 32px 16px;

    gap: 32px;

    .text {
      p {
        margin: 0;
      }
    }

    .text2 {
      p {
        margin: 0;
      }
    }

    .inputs {
      flex-direction: column;

      button {
        width: 100%;
      }
    }
  }

  footer {
    flex-direction: column;

    padding: 24px 0 64px 0;

    height: unset;

    gap: 64px;

    img {
      width: 100%;
    }

    .footer-right {
      flex-direction: column;

      gap: 64px;
    }
  }

  .vitrine-modal {
    flex-direction: column;

    width: 88vw;
    height: unset;

    img {
      height: unset;
    }

    .produto {
      width: unset;
      padding: 0 16px 24px 16px;

      .tamanhos {
        div {
          flex-wrap: wrap;
        }
      }
    }
  }
}